* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    list-style: none;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    height: 300px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.btn button {
    padding: 20px;
}

.display {
    height: 60px;
    width: 100%;

}

input[type="text"] {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    text-align: right;
    padding: 0 20px;
    background-color: rgb(95, 169, 226);
    letter-spacing: 1px;
    font-size: 25px;
}
